<div id="<%= dom_id order %>">

  <p>
    <strong>Customer name:</strong>
    <%= order.customer.full_name %>
  </p>

  <p>
    <strong>Product name:</strong>
    <%= order.product_name %>
  </p>

  <p>
    <strong>Product count:</strong>
    <%= order.product_count %>
  </p>

</div>
