/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

:root {
  --bs-body-bg: #f2e0f8;
}

.my_alert {
  color: red;
}

.banner-background {
  background-image: url('istockphoto-926538892-1024x1024.jpg');
  background-size: cover;
  background-position-y: 50%;
  font-family: 'PixelifySans-VariableFont_wght'; 
}

.btn-primary {
  background-color: violet;
  border-color: violet;
  margin: 0.2%;
}

.btn-primary:hover {
  background-color: rgb(240, 61, 240);
  border-color: violet;
}

.btn-primary:focus {
  background-color: rgb(240, 61, 240);
  border-color: violet;
}

.btn-primary:active {
  background-color: rgb(240, 61, 240);
  border-color: violet;
}

a {
  color: white;
  text-decoration: none;
}

.link-to-text-color {
  color: white;
}

@font-face {
  font-family: 'PixelifySans-VariableFont_wght';
  src: url('PixelifySans-VariableFont_wght.ttf');
}